doctype html
html
  body
    h1 #{ __('hello') } #{ name }
    h3 #{ __('welcomeText') } #{ __('country') }!
    p #{ __('textLocationFact') }
    p #{ __('labelDateFormat') }: #{ dateTimeFormat(today).formatToLocalDate() }
    p #{ __('labelCurrencyFormat') }: #{ priceFormat(5000.0, __('currency-symbol')) }
    p #{ __('labelNumberFormat') }: #{ numberFormat(12300, 2) }

    - var loc = '/'
    if config('core.locale.locale') === 'en-gb'
      - loc = '/de/'

    div(style='margin-top:20px')
      a(href=loc+'greet-person?name='+name style='display: inline-block; padding: 5px; border: solid 1px #999;') #{ __('labelLocationLink') }
      a(href=url('helloworld.greet') style='display: inline-block; margin-left:10px; padding: 5px; border: solid 1px #999;') #{ __('labelHomeLink') }

